.env
__pycache__/
exports/
memory/
docs/
output/
prompts/
vector_db/
memory_vector_db/
*.pyc
.DS_Store
app_ai_agent.py
app_all_app.py
app_conversational_memory.py
app_dynamicPrompt.py
app_langchain.py
app_langchain_prompt.py
app_openai.py
app_openai_json.py
app_RAG_vector_db.py
app_streamlit.py
app_streamlit_full_code.py
app_streamlit_llm.py
app_test.py
app_vector_db.py
